{%extends "layout.html" %} {% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
		var i=0;
		$.ajax({
			//url: "http://localhost:5000/get_data/les9",
			url: "/get_vertaling_data"
		}).done(function(data2) {
			console.log(data2)
			data_parsed=jQuery.parseJSON(data2);
			data_parsed.forEach(function(dt){
				$("#all_questions").append("<p>"+ dt['id'] +". " + dt['question'] + " " +"<input type=\""+"text"+"\">"+
										"<button  style=\""+"height:20px;width:20px"+"\" type=\""+"radio"+"\" id=\""+"button"+i+"\">" + "</button>" +
										"</p>");
                $("#all_questions").append("<a style=\""+"\" id=\""+"answer"+i+"\">"+ dt['answer'] + "</a>");
				$('#answer'+i).toggle();
						// '<a href="' + link_to_example + '">'+'Voorbeeldgebruik'+'</a>'+ '<br>' + '</br>' +
						// 				'<a href="' + link_to_hint + '">'+'Eigen Hint'+'</a>'+"</p>");

				i++;
			});
			//$('#questiontests').html(jQuery.parseJSON(data)['0']["question"]).text();
			//console.log(jQuery.parseJSON(data).length);
		});
  });
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on("click",'button',function() {
			var current_id=this.id
			var idlength=current_id.length
			//var x = document.getElementById("button"+this.id).value;

			var current_id=current_id.substring(6, idlength)
			console.log(current_id)
			$('#answer'+current_id).toggle();
		});
	});
</script>

<section class="page-section" style="background-color:lightblue" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-black-50 mt-0">Dutch oefening lijst</h2>
				<h5 class="text-black-50 mt-0">Welkom! Hier staat verschillende Nederlandse taal oefenen, bijvoorbeeld
												vocabulair, voorzetsels, pronouns, en zo voort. De oefenen met "les"
												gaat over de vocabulair van de lessen op het boek "De Sprong" van nt2.nl.
												Deze website zult regelmatig bijwerken. Gelukkig met oefenen!</h5>
				{%for i,j in list|zip(names)%}
                    <a href="{{i}}">{{j}}</a>
					<br></br>
                {%endfor%}

			</div>
		</div>
	</div>

</section> {% endblock %}